body{
  background: #ddd;
  margin: 0px;
  padding: 0px;
  font-family: Helvetica;
}

#navbar{
  width: 100%;
  background: #333;
  position: fixed;
  top: 0px;
  left: 0px;
}

nav ul{
  padding: 0px;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

nav li{
  flex-basis: 200px;
}

a{
  text-decoration: none;
  color: #fff;
}

main{
  background: #fff;
  color: #000;
}

#welcome-section{
  margin-top: 3.5%;
}

.about-me-yusuf{
  width: 100%;
  display: block;
  text-align: center;
  padding-top: 2%;
}

.about-me-yusuf img{
  border-radius: 50%;
}

#About_Me{
  padding: 2% 5%;
  text-align: justify;
}

#projects{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, minmax(100px, auto));
  padding: 0px 5%;
  grid-gap: 10px;
  font-size: 90%;
  text-align: center;
}

.padding{
  padding: 2% 0px;
}

.project-title{
  grid-column: 1/5;
  grid-row: 1;
  background: #333;
  padding-top: 2%;
}

.project-one{
  grid-column: 1/3;
  grid-row: 2/4;
}

.project-two{
  grid-column: 3/5;
  grid-row: 2/4;
}

.project-three{
  grid-column: 1/3;
  grid-row: 4/6;
}

.project-four{
  grid-column: 3/5;
  grid-row: 4/6;
}

.project-five{
  grid-column: 1/3;
  grid-row: 6/8;
}

.project-title-two{
  grid-column: 1/5;
  grid-row: 8;
  background: #333;
  padding-top: 1%;
}
