body{
  background: #ddd;
  margin: 0px;
  padding: 0px;
  font-family: Helvetica;
}

#navbar{
  width: 100%;
  background: #333;
  position: fixed;
  top: 0px;
  left: 0px;
}

nav ul{
  padding: 0px;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

nav li{
  flex-basis: 200px;
}

a{
  text-decoration: none;
  color: #fff;
}

main{
  background: #fff;
  color: #000;
}

#welcome-section{
  margin-top: 3.5%;
  height: 100vh;
}

.about-me-yusuf{
  width: 100%;
  display: block;
  text-align: center;
  padding-top: 2%;
}

.about-me-yusuf img{
  border-radius: 50%;
}

#About_Me{
  padding: 2% 5%;
  text-align: justify;
}

.projects-web-app{
  padding: 0px 5%;
  font-size: 90%;
  text-align: center;
  color: #000;
  width: 90%;
  background: #fff;
  float: left;
}

h2{
  width: 100%;
  float: left;
  padding: 1% 0px;
}

.col-half{
  width: 46%;
  float: left;
  margin: 0px 2%;
}

.projects-web-app img{
  width: 100%;
}

.padding{
  padding: 1% 2%;
}

footer{
  width: 100%;
  float: left;
  background: #333;
  padding: 2% 0px;
  text-align: center;
}

#skills{
  background: #fff;
  width: 100%;
  float: left;
}
