body{
  background: #ddd;
  margin: 0px;
  padding: 0px;
}

#navbar{
  width: 100%;
  background: #333;
  height: 65px;
  position: fixed;
  margin-top: -2%;
}

nav ul{
  padding: 0px;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

nav li{
  flex-basis: 200px;
}
